<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<main id="app">
		
	{{ beers }}		

		<table>
			<tr v-for="beer in beers">
				<td>{{ beer.name }}</td>
				<td>{{ beer.country }}</td>
				<td><input v-model='beer.name'/></td>


			</tr>

		</table>



	</main>

	<script src='vue.js'></script>
	<script src='main.js'></script>

</body>
</html>