*{margin:0px;padding:0px}#chat{position:fixed;bottom:0px;right:40vw;width:250px;display:flex;display:none;flex-direction:column}#chat #tools{flex:0 0 20px;width:250px;display:flex;flex-direction:row}#chat #tools input{border:solid 1px chocolate;background-color:white;font-size:0.8em;margin-right:3px}#chat #tools #pseudo{width:40px}#chat #tools #message{flex:1 1 auto}#chat #tools button{flex:0 0 20px;font-size:0.8em}#chat #messages{margin-top:3px;flex:1 1 auto;border:solid 1px chocolate;height:200px;overflow-y:scroll}#chat #messages .sender{display:inline-block;color:chocolate}#chat #messages .sender::after{content:": "}#chat #messages .receivedText{display:inline-block}
/*# sourceMappingURL=style.css.map */
