* {
	margin: 0px;
	padding: 0px;
}
#chat {
	position: fixed;
	bottom: 0px;
	right: 40vw;
	width: 250px;
	display: flex;
	display: none;
	flex-direction: column;
	#tools {
		flex: 0 0 20px;
		width: 250px;
		display: flex;
		flex-direction: row;
		input {
			border: solid 1px chocolate;
			background-color: white;
			font-size: 0.8em;
			margin-right: 3px;
		}
		#pseudo { width: 40px; }
		#message { flex: 1 1 auto; }
		button { 
			flex: 0 0 20px;
			font-size: 0.8em;
		}
	}
	#messages {
		margin-top: 3px;
		flex: 1 1 auto;
		border: solid 1px chocolate;
		height: 200px;
		overflow-y: scroll;
		.sender {
			display: inline-block;
			color: chocolate;
		}
		.sender::after {
			content: ": ";
		}
		.receivedText {
			display: inline-block;

		}
	}
}
