*{margin:0px;padding:0px}body{font-family:sans-serif}header{line-height:80px;text-align:center;text-transform:uppercase;position:fixed;top:0px;left:0px;width:100vw}#banner{position:fixed;top:80px;left:0px;width:100vw;height:300px;box-shadow:inset 0px 0px 14px -1px rgba(0,0,0,0.75);background:transparent url("banner.jpg") center center no-repeat;background-size:cover;overflow:hidden}#banner .bubble{position:absolute;top:0px;left:0px;border-radius:50%;background-color:rgba(255,255,255,0.7)}#banner .small{width:3px;height:3px}#banner .medium{width:5px;height:5px}#banner .big{width:10px;height:10px}section{margin-top:400px;display:flex;flex-direction:row;transition:all 0.5s ease}section article{flex:0 0 96vw;margin:40px 0px;padding:2vw;text-align:justify}
/*# sourceMappingURL=style.css.map */
