*{margin:0px;padding:0px}header{background-color:black;color:white;line-height:70px;padding:0px 20px}table{border-collapse:collapse;margin:20px}td{padding:5px;border:solid 1px black}.selected{background-color:#DDDDDD}#form{margin:20px}#form p{margin:10px 0px}
/*# sourceMappingURL=style.css.map */
