* { margin: 0px; padding: 0px; }
@font-face {
	font-family: Multicolore;
	src: url("Multicolore.otf");
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: sans-serif;
	font-size: 14px;
}
header {
	background-color: black;
	color: white;
	position: relative;
}
header h1 {
	font-family: Multicolore;
	line-height: 40vh;
	text-align: center;
	font-size: 3em;
}
header::after {
	content: '';
	position: absolute;
	width: 0px;
	height: 0px;
	bottom: -79px;
	left: 0px;
	/*border-top:    solid 10px red;*/
	/*border-right:  solid 10px green;*/
	border-bottom: solid 80px transparent;
	border-left:   solid 98vw black;
	pointer-events: none;
}

#admin input[type=submit] {
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 10px 30px;
	border: none;
	background-color: orange;
	cursor: pointer;
	border-radius: 30px;
	transition: all 0.5s ease;
	font-weight: bold;
}
#admin input[type=submit]:hover {
	background-color: chocolate;
}



nav {
	margin: 50px 0px 50px auto;
	max-width: 50%;
	position: sticky;
	top: 10px;
	background-color: white;
	padding: 10px;
}
nav ul {
	text-align: right;
}
nav li {
	display: inline-block;
}
nav a:link, nav a:visited {
	display: block;
	padding: 5px;
	color: black;
	text-decoration: none;
	transition: all 0.7s ease;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: solid 2px white;
}
nav a:hover {
	border-bottom: solid 2px black;
}


section {
	margin: 50px 0px;
}
article {
	padding: 50px;
	border-bottom: solid 30px black;
	margin-bottom: 50px;
}
article p {
	margin: 10px 0px;
	text-align: justify;
}
/*.horiz {
	display: flex;
	flex-direction: row;
}
.horiz div {
	padding-right: 10px;
	flex: 1 1 auto;
}
.horiz picture {
	padding-top: 30px;
	flex: 1 0 350px;
}
.horiz img {
	width: 100%;
}
*/

.horiz picture {
	float: right;
}
.horiz p {
}
.horiz img {
	width: 300px;
	margin: 20px;
	border: solid 5px black;
}


#list {

}
#list ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
#list li {
	list-style-type: none;
	flex: 0 0 200px;
	height: 200px;
	border-radius: 50%;
	background-color: orange;
	margin-bottom: 20px;
	border: solid 2px black;
}
#list span {
	display: block;
	text-align: center;
}
#list .name {
	font-weight: bold;
	width: 150px;
	margin: 60px auto 10px auto;
}
#list .brune { color: white; background-color: #663300; }
#list .rousse { color: white; background-color: #994400; }
#list .blonde { color: black; background-color: orange; }
#list .blanche { color: black; background-color: #FFEE99; }


footer {
	margin-top: 50px;
	text-align: center;
	font-size: 0.9em;
	color: white;
	background-color: black;
	padding: 10px;
	height: 200px;
}



#background {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
}
#background.active {
	display: block;
}
#pincode {
	position: relative;
	width: 300px;
	height: 300px;
	margin: 100px auto;
	border: solid 4px white;
	background-color: #CCCCCC;
	border-radius: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.dot {
	flex: 1 1 60px;
	border: solid 4px white;
	border-radius: 50%;
	margin: 10px;
	cursor: crosshair;
	background-color: #BBBBBB;
	transition: all 0.5s ease;
}
.dot:hover {
	background-color: yellow;
}
.dot.chosen {
	background-color: orange;
}
.dot.chosen.bad {
	background-color: red;
}
.dot.chosen.good {
	background-color: green;
}

