<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<main id='app'>
	
		<header>
			<h1>Salaire des étudiants en DIM</h1>
			<button @click='displaySalary=!displaySalary'>
				{{ displaySalary?'Cacher':'Montrer' }} les salaires
			</button>
		</header>

		<table>
			<tr>
				<th>
					<input 
						v-model='filter' 
						id='filter'
						v-on:keyup.esc="filter=''"
					>
				</th>
				<th></th>
			</tr>
			<tr 
				v-for='student in filteredStudents'
				@click='currentStudent=student'
				:class="currentStudent==student?'selected':''"
				>
				<td>{{ student.name }}</td>
				<td v-if='displaySalary'>{{ student.salary }}€</td>
			</tr>
			<tr>
				<td></td>
				<td>{{ average() }}€</td>
			</tr>
		</table>


		<div id='form'>
			<p>
				Nom : <input type='text' 
						v-on:keyup='save'
						v-model='currentStudent.name'/>
			</p>
			<p>
				Salaire : <input type='number'
						v-on:keyup='save'
						v-model='currentStudent.salary'/>
			</p>
			<p>
				{{ currentStudent.saved?"Enregistré":"" }}
			</p>


		</div>



	</main>

	<script src='/js/vue.js'></script>
	<script src='/js/vue-resource.min.js'></script>
	<script src='/js/main.js'></script>

</body>
</html>